spring:
  application:
    name: gestion-backend
  datasource:
    url: jdbc:oracle:thin:@arqsmallpldbs01-public-phx.infra.arqbs.com:1621/CDBSMALL_ARQSMALLPLDBS01_COMMSRV.paas.oracle.com
    username: ARQGCDEV
    password: xGMa_ME9iuH0B_pj_N9j
    driver-class-name: oracle.jdbc.OracleDriver
    hikari:
      maximum-pool-size: 5
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: false

server:
  port: 8080

app:
  jwt:
    secret: arquitecsoft-gestion-comercial-secret-key-2026-muy-segura-cambiar-en-produccion-1234567890
    expiration: 28800000

springdoc:
  api-docs:
    path: /api/docs
  swagger-ui:
    path: /api/swagger-ui.html

logging:
  level:
    com.arquitecsoft: DEBUG
    org.springframework.security: DEBUG
